<div id="new-user-signup">
	<h1>Registro</h1>
	<%= form_for(@user, url: sign_up_path, html: { class: "horizontal" }) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :first_name %>
	    <%= f.text_field :first_name, data: { validate: "required" } %>
	  </div>
	  <div class="field">
	    <%= f.label :last_name %>
	    <%= f.text_field :last_name, data: { validate: "required" } %>
	  </div>
	  <div class="field">
	    <%= f.label :email %>
	    <%= f.text_field :email, data: { validate: "required" } %>
	  </div>
	  <div class="field">
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Crea tu cuenta", class: "btn" %>
	  </div>
	<% end %>
</div>