<h1>Home#welcome</h1>
<p>Find me in app/views/home/welcome.html.erb</p>

<% if notice %>
	<div class="notice"><%= notice %></div>
<% end -%>
<% if alert %>
	<div class="alert"><%= alert %></div>
<% end -%>

<% if current_user %>
Hola, <%= current_user.first_name %>!

<%= link_to 'Sign out!', session_path, method: :delete %>
<% else %>
<%= link_to 'Sign in!', new_session_path %>
<% end -%>